<!DOCTYPE html>
  <head>
    <title>SCCWRP Data Receipt</title>
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<link rel="stylesheet" href="/receipt/static/receipt.css" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
	
	<style>
		.hidden {
			display: none;
		}
	</style>

  <body>
		<div class="container main-container">
			<br>
			<div class="container form-container">
				<form id="upload" action="/reformat/upload" method="GET">
					<label for="file">Upload excel file and images</label>
					<br>
					<input type="file" id="files" name="files" multiple="multiple" onchange="submitForm()">
					<button id="submit" type = "submit">Click here to upload your files and reformat the data</button>
				</form>
			</div>
			<div class="loading-image-container hidden">
				It may take a while for the files to reach the server. 
				After they get there, the reformatting should take only a few seconds.
				<img src="/reformat/static/loading.gif">
			</div>
			<div class="after-upload hidden">
				<div class = "reformat-download hidden">
					<a href="reformat/reformatted">Click here for your reformatted data and images</a>
				</div>
				<div class = "unaccounted-photo-container hidden">
					<p>The following photos were uploaded, but have no corresponding record associated with them</p>
					<ul class = "unaccounted-photo-list">

					</ul>
				</div>
			</div>
		</div>

  </body>
<script type ="text/javascript"> var $SCRIPT_ROOT = {{request.script_root|tojson|safe }};  </script>
<script src="/reformat/static/upload.js"></script>
</html>